body {
    background-color: black;
}

#game-display {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
    background-color: rgb(140, 140, 247);
    border: 5px solid rgb(83, 83, 247);
}

.btn {
    position: absolute;
    border: 2px solid black;
}

#start:hover,
#instructions:hover,
#home:hover,
#new-game:hover {
    cursor: pointer;
}

#start {
    top: 50%;
    left: 4%;
}

#instructions {
    top: 50%;
    left: 79%;
}

#home,
#new-game {
    width: 350px;
    height: 40px;
    color: white;
    border-color: white;
    top: 81.5%;
    text-align: center;
    align-content: center;
}

#home {
    left: 17.5%;
}

#new-game {
    left: 50.15%;
}

.cell {
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid rgb(83, 83, 247);
}

.redCell {
    background-color: red;
}

.yellowCell {
    background-color: yellow;
}
