body {
    background: radial-gradient(
        circle,
        rgba(65, 65, 255, 1) 0%,
        rgba(65, 65, 255, 1) 25%,
        rgba(2, 0, 36, 1) 97%
    );
}

h3,
p {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    text-shadow: 2px 2px 5px black;
}

p {
    font-size: 1.4rem;
}

#game-display {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 575px;
    width: 700px;
    background-color: rgb(65, 65, 255);
    border: 5px solid rgb(8, 8, 102);
}

#start:hover,
#instructions-btn:hover,
#instructions-home-btn:hover,
#home:hover,
#new-game:hover {
    cursor: pointer;
}

#start,
#instructions-btn {
    position: absolute;
    display: flex;
    width: 250px;
    height: 40px;
    top: 76%;
    left: 32%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#instructions-btn {
    top: 85%;
}

#instructions-home-btn {
    position: absolute;
    display: flex;
    width: 350px;
    height: 40px;
    top: 89.5%;
    left: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home,
#new-game,
#turn-div {
    display: inline-block;
    margin: 2px 1px auto;
    width: 350px;
    height: 40px;
    align-content: center;
    text-align: center;
}

#instructions,
#game-over-div {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    height: 450px;
    width: 525px;
    border: solid rgb(8, 8, 102);
}

#instructions {
    background: rgba(8, 8, 102, 0.4);
    top: 47%;
    left: 50%;
}

#game-over-div {
    top: 50%;
    left: 50%;
}

#homePic {
    height: 575px;
    width: 700px;
}

#title-img {
    position: relative;
    margin: 0 auto;
    margin-top: -200px;
    margin-bottom: 20px;
    height: 150px;
    animation: floatImage 7s ease infinite;
}

#main-menu-btn-img,
#new-game-btn-img {
    padding: 6px 0px 3px 0px;
    height: 30px;
}

.home-buttons {
    height: 30px;
}
.btn:hover {
    transform: scale(1.04);
}

.display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cell {
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: hsl(240, 100%, 95%);
    border-radius: 50%;
    border: 5px solid rgb(8, 8, 102);
}

.red-cell,
.yellow-cell {
    height: 80px;
    width: 80px;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 750px) {
    html {
        font-size: 50%;
    }
}
/* going to do somthing here when window hits this size, hoping to just shrink it all and then stop working when it's super small? */
